@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

body {
    font-family: "Open Sans", Arial, Helvetica, Roboto, "Droid Sans", sans-serif;
    background-color: #F0F0F0;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #F0F0F0;
    background: linear-gradient(#FFFFFF,#F0F0F0);
    box-shadow: 0 0 8px 8px #F0F0F0;
}

.header-bot {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(http://www.tjhsst.edu/~2012zyaro/i3/public/images/themes/light/logo.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-position-x: 10px;
}

.header-title,.header-tabs {
    position: absolute;
    bottom: 0;
}

.header-tabs {
    left: 20%;
}

.header-tabs span {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F0F0F0;
    border: 1px solid #656565;
}

.header-tabs span a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.left {
    position: absolute;
    top: 10%;
    left: 0;
    width: 20%;
    height: 90%;
    border-top: 1px solid #A8A8A8;
    background-color: transparent;
}

.left-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.leftopt {
    width: 100%;
    height: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #000;
    background-color: #F0F0F0;
}

.leftopt-fixed {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.leftopt-sel {
    color: #FFF;
    background-color: #A8A8A8;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}
.leftopt-sel.leftopt-sel-eighth {
	height: 100px;
	padding-bottom: 100px;
}
.leftopt-sel.leftopt-sel-mail {
	height: 20px;
	padding-bottom: 50px;
}
.lot {
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}
.lot-8th {
	font-size: 12px;
	vertical-align: top;
}
.lexp {
    display: none;
    font-size: 12px;
    padding-left: 20px;
    position: relative;

}

.leftopt-exp {
    padding-bottom: 100px;
    height: 100px;
}

.leftopt-exp .lexp {
    display: block;
}

.main {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 80%;
    height: 90%;
    border: thin groove;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 80%;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    background-color: #F0F0F0;
    -webkit-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.2);
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.2);
    padding: 8px 8px 6px;
}

.sched-tbl {
    table-layout: fixed;
    width: 100%;
}

.sched-tbl tr td {
    width: 20%;
    text-align: center;
}

tr.sched-day {
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-size: 10px;
}

tr.sched-info,tr.sched-info td {
    font-size: 12px;
    text-align: left;
}
.main-news {
    position: absolute;
    top: 20%;
    width: 70%;
    border-right: 1px solid #000;
    overflow: hidden;
    height: 80%;
}

.main-news-newsposts {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 95%;
}

.sect-header {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

.mnpost-title {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

.mnpost-author {
    font-size: 12px;
    float: right;
}

.mnpost-content {
    font-size: 12px;
}

.main-side {
    position: absolute;
    top: 20%;
    left: 70%;
}

.header-title {
    padding-left: 64px;
    font-size: 32px;
}

.main-side div.main-birthdays,.main-side div.main-links {
    position: relative;
    left: 14px;
}

table.sched-tbl {
    border: none;
    border-collapse: collapse;
}

table.sched-tbl td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table.sched-tbl td:first-child {
    border-left: none;
}

table.sched-tbl td:last-child {
    border-right: none;
}

tr.sched-info td {
    position: relative;
    text-overflow: elipsis;
    vertical-align: top;
}

.sched-add {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 1170px) {
    .left {
        width: 237px;
    }

    .main {
        left: 237px;
		width: 90%;
        width: calc(100% - 237px);
        width: -moz-calc(100% - 237px);
        width: -webkit-calc(100% - 237px);
        width: -o-calc(100% - 237px);
    }

    .header-tabs {
        left: 237px;
    };
}

@media (max-width: 1010px) {
    .left {
        width: 150px;
    }

    .main {
        left: 150px;
        width: calc(100% - 150px);
        width: -moz-calc(100% - 150px);
        width: -webkit-calc(100% - 150px);
        width: -o-calc(100% - 150px);
    }

    .header-title {
        padding-left: 58px;
        font-size: 24px;
    }

    .header-tabs {
        left: 150px;
    }

    .main-scrollable {
        position: static;
        height: 90%;
        overflow-y: scroll;
        width: 100%;
        overflow-x: hidden;
    }

    .main-news {
        position: static;
        width: 100%;
    }

    .main {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .main-side {
        position: static;
        left: 0;
        top: 0;
    };
}

@media (max-width: 740px) {
    .header-title {
        visibility: hidden;
    }

    .header-bot {
        background-size: 32px 32px;
    }

    .header-tabs {
        left: 60px;
    }

    .main {
        left: 60px;
        width: calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: -webkit-calc(100% - 60px);
        width: -o-calc(100% - 60px);
    }

    .lot {
        padding-left: 0px;
    };
}

@media (max-width: 500px) {
    .header-bot {
        background-size: 32px 32px;
        background-position-x: 0px;
    }

    .header-tabs {
        left: 32px;
    }

    .main {
        left: 12px;
        width: calc(100% - 12px);
        width: -moz-calc(100% - 12px);
        width: -webkit-calc(100% - 12px);
        width: -o-calc(100% - 12px);
    }

    .lot {
        padding-left: 0px;
    };
}